body {
    margin: 0;
    font-size: 48px;
    font-family: consolas;
}

.game-area {
    background-color: lightblue;
    height: 100vw;
    position: relative;
    width: 100%;
}

.game-start {
    width: 30%;
    background-color: greenyellow;
    z-index: 1;
    top: 300px;
    left: 35%;
    text-align: center;
    padding: 30px;
    position: absolute;
    border-radius: 12px;

}

.game-start:hover {
    background-color: green;
    scale: 1.2;
    cursor: pointer;
}


.game-score {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 24px;
}


.hide {
    display: none;
}


.wizard {
    background-image: url(/src/images/wizard.png);
    width: 82px;
    height: 100px;
    z-index: 100;
    position: absolute;
    background-size: cover;
}